
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 1s;
  text-transform:capitalize !important;
}
.space{
  width: 100%;
  height: 150px;
}




.nav{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: all 1s;
}
.nav:focus{
  color: #000;
  text-decoration:underline;
  font-weight: bolder;
}
.TextField::placeholder{
  color: white;
}


.media{
display: flex;
justify-content: center;
align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
 
 
}

/* products */
.button{
  display: none;

}
.form{
  width: 300px;
  border: 1px solid red;
  padding: 6px  10px;
  border-radius: 20px;
}
.Input{
  width: 90%;
border: none;
outline: none;
visibility: visible;
}



.slick-arrow.slick-prev{
  padding: 20px  45px;
  font-size: 40px;
  top :-24%;
  left: 40%;
  text-align: center;
  display: inline-block;

} 
 .slick-arrow.slick-next{
  padding: 20px 45px;
  font-size: 40px;
  top :-24%;
 right:40%;
 text-align: center;
display: inline-block;

}








@media (max-width :1000px) {
  .slick-arrow.slick-prev{
    top :-24%;
    left: 28%;
  } 
  
   .slick-arrow.slick-next{
    top :-24%;
   right:28%;

  }
  
}

@media (max-width :700px) {
  .slick-arrow.slick-prev{
    top :-25%;
    left: 33%;
  
  } 
  
   .slick-arrow.slick-next{
    top :-25%;
   right:30%;
 

  }
  .form{
    width: 250px;

    padding: 3px  ;

  }
  .Input{
    width: 80%;

  }
 
}
@media (max-width :500px) {
  .slick-arrow.slick-prev{
    top :-24%;
    left: 16%;

    font-size: 25px;
  } 
  
   .slick-arrow.slick-next{
    top :-24%;
   right:16%;

   font-size: 25px;
  }
  
}

@media (max-width :370px) {
  .slick-arrow.slick-prev{
    top :-25%;
    left: -25px;
  
    font-size: 20px;
  } 
  
   .slick-arrow.slick-next{
    top :-25%;
   right:-26px;
 
   font-size: 20px;
  }
  
}



